In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/0050_2008_2021.csv',index_col=0)
data.head()
data.index = pd.to_datetime(data.index, format = '%Y/%m/%d')

In [3]:
data_2008_2018 = data.loc['2008/01/01':'2018/12/31']
data_2008_2018['Date'] = data_2008_2018.index
data_2008_2018.to_csv('data/0050_2008_2018.csv')
data_2018_2021 = data.loc['2018/12/31':'2021/12/31']
data_2018_2021['Date'] = data_2018_2021.index
data_2018_2021.to_csv('data/0050_2018_2021.csv')

C:\Users\yayay\AppData\Local\Temp\ipykernel_15500\1692579055.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2008_2018['Date'] = data_2008_2018.index
C:\Users\yayay\AppData\Local\Temp\ipykernel_15500\1692579055.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2018_2021['Date'] = data_2018_2021.index

In [8]:
data_2008_2018[~data_2008_2018['buy_volume'].isnull()]

,High,Low,Open,Close,Volume,Adj Close,MarginPurchaseBuy,MarginPurchaseCashRepayment,MarginPurchaseSell,MarginPurchaseTodayBalance,...,ShortSaleSell,ShortSaleTodayBalance,ShortSaleYesterdayBalance,b_total,s_total,b_s_ratio,buy_volume,sell_volume,bs_ratio,Date
2012-05-02,53.349998,52.200001,52.250000,53.349998,12132883.0,53.349998,356.0,0.0,849.0,9069.0,...,119.0,6441.0,6587.0,383306.0,385934.0,1.006854,5759000.0,6240000.0,0.922917,2012-05-02
2012-05-03,53.250000,52.950001,53.250000,53.099998,5177566.0,53.099998,347.0,0.0,154.0,9262.0,...,15.0,6304.0,6441.0,383863.0,386821.0,1.007703,1368000.0,3610000.0,0.378947,2012-05-03
2012-05-04,53.299999,52.650002,52.799999,53.200001,11424808.0,53.200001,231.0,0.0,221.0,9272.0,...,154.0,6330.0,6304.0,385353.0,388295.0,1.007632,2793000.0,7775000.0,0.359228,2012-05-04
2012-05-07,52.450001,51.849998,52.450001,52.049999,21312453.0,52.049999,822.0,0.0,87.0,10007.0,...,223.0,6271.0,6330.0,389243.0,392979.0,1.009596,2544000.0,19998000.0,0.127213,2012-05-07
2012-05-08,52.250000,51.900002,52.200001,52.049999,9194107.0,52.049999,193.0,402.0,208.0,9590.0,...,115.0,6196.0,6271.0,390285.0,393679.0,1.008694,1847000.0,7652000.0,0.241375,2012-05-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-24,75.000000,74.550003,74.849998,74.699997,5952329.0,74.699997,99.0,0.0,23.0,3224.0,...,12.0,1306.0,1311.0,226026.0,227944.0,1.008481,110000.0,4825000.0,0.022798,2018-12-24
2018-12-25,74.150002,73.300003,74.150002,73.750000,12071254.0,73.750000,259.0,16.0,45.0,3422.0,...,78.0,1370.0,1306.0,229203.0,231255.0,1.008948,161000.0,10308000.0,0.015619,2018-12-25
2018-12-26,74.300003,73.500000,74.000000,73.550003,8919969.0,73.550003,57.0,4.0,72.0,3403.0,...,10.0,1375.0,1370.0,230472.0,232500.0,1.008795,950000.0,7504000.0,0.126599,2018-12-26
2018-12-27,75.150002,74.500000,74.800003,75.050003,9615359.0,75.050003,79.0,0.0,352.0,3130.0,...,44.0,1397.0,1375.0,230745.0,232478.0,1.007506,4099000.0,3868400.0,1.059611,2018-12-27
2018-12-28,75.500000,74.849998,75.099998,75.500000,4629875.0,75.500000,135.0,1.0,134.0,3130.0,...,12.0,1403.0,1397.0,230995.0,232722.0,1.007472,2101000.0,644400.0,3.260392,2018-12-28

In [14]:

def stock_close_prices(key):
    '''return a list containing stock close prices from a .csv file'''
    prices = []
    lines = open("data/" + key + ".csv", "r").read().splitlines()
    for line in lines[1:]:
        prices.append(float(line.split(",")[4]))
    return prices
data = stock_close_prices('0050_2008_2018')
np.array(data).shape

(2718,)

In [20]:

def stock_margin_prices(key):
    data = pd.read_csv(os.path.join("data",key+".csv"),index_col=0)    
    data = data.iloc[:,6:-1]
    return data.values
data = stock_margin_prices('0050_2008_2018')
data

array([[8.28000000e+02, 0.00000000e+00, 4.87000000e+02, ...,
                   nan,            nan,            nan],
       [6.96000000e+02, 0.00000000e+00, 5.53000000e+02, ...,
                   nan,            nan,            nan],
       [9.16000000e+02, 5.00000000e+01, 2.60000000e+02, ...,
                   nan,            nan,            nan],
       ...,
       [5.70000000e+01, 4.00000000e+00, 7.20000000e+01, ...,
        9.50000000e+05, 7.50400000e+06, 1.26599130e-01],
       [7.90000000e+01, 0.00000000e+00, 3.52000000e+02, ...,
        4.09900000e+06, 3.86840000e+06, 1.05961093e+00],
       [1.35000000e+02, 1.00000000e+00, 1.34000000e+02, ...,
        2.10100000e+06, 6.44400000e+05, 3.26039221e+00]])

In [ ]:
generate_margin_state(margin, end_index, window_size)