In [1]:
import pandas as pd
import numpy as np
import importlib
import sys
import time
import tqdm
import logging
from utils import *

from importlib import reload
import utils
reload(utils)
from utils import *

pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:

def hold(actions):
    # encourage selling for profit and liquidity
    next_probable_action = np.argsort(actions)[1]
    if next_probable_action == 2 and len(agent.inventory) > 0:
        max_profit = stock_prices[t] - min(agent.inventory)
        if max_profit > 0:
            sell(t)
            actions[next_probable_action] = 1 # reset this action's value to the highest
            return 'Hold', actions

def buy(t):
    if agent.balance > stock_prices[t]:
        agent.balance -= stock_prices[t]
        agent.inventory.append(stock_prices[t])
        return 'Buy: ${:.2f}'.format(stock_prices[t])

def sell(t):
    if len(agent.inventory) > 0:
        agent.balance += stock_prices[t]
        bought_price = agent.inventory.pop(0)
        profit = stock_prices[t] - bought_price
        global reward
        reward = profit
        return 'Sell: ${:.2f} | Profit: ${:.2f}'.format(stock_prices[t], profit)

In [3]:

model_name = 'DQN'
stock_name = '0050_2008_2018'
window_size = 10
num_episode = 1
initial_balance = 50000

stock_prices = stock_close_prices(stock_name)
stock_margin = stock_margins(stock_name)
trading_period = len(stock_prices) - 1  # 訓練期間，input stock data的總日期
returns_across_episodes = []
num_experience_replay = 0
action_dict = {0: 'Hold', 1: 'Buy', 2: 'Sell'}

logging.basicConfig(filename=f'logs/{model_name}_training_{stock_name}.log', filemode='w',
                    format='[%(asctime)s.%(msecs)03d %(filename)s:%(lineno)3s] %(message)s', 
                    datefmt='%m/%d/%Y %H:%M:%S', level=logging.INFO)

logging.info(f'Trading Object:           {stock_name}')
logging.info(f'Trading Period:           {trading_period} days')
logging.info(f'Window Size:              {window_size} days')
logging.info(f'Training Episode:         {num_episode}')
logging.info(f'Model Name:               {model_name}')
logging.info('Initial Portfolio Value: ${:,}'.format(initial_balance))

# select learning model
model = importlib.import_module(f'agents.{model_name}')
agent = model.Agent(state_dim=window_size + 3, balance=initial_balance)

In [9]:
stock_margin.iloc[0]

MarginPurchaseBuy                   828.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  487.000
MarginPurchaseTodayBalance         9262.000
MarginPurchaseYesterdayBalance     8921.000
OffsetLoanAndShort                  141.000
ShortSaleBuy                        260.000
ShortSaleSell                       313.000
ShortSaleTodayBalance              1457.000
ShortSaleYesterdayBalance          1404.000
b_total                          115863.000
s_total                          123668.000
b_s_ratio                             1.067
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-02, dtype: float64

In [10]:

import utils
reload(utils)
from utils import *

for e in tqdm.tqdm(range(1, num_episode + 1)):
    logging.info(f'\nEpisode: {e}/{num_episode}')

    agent.reset() # reset to initial balance and hyperparameters
    state = generate_combined_state(0, window_size, stock_prices, stock_margin, agent.balance, len(agent.inventory)) 
    display(pd.DataFrame(state))
    # 將prince_state與portfolio_state 橫向串連起來橫向串連，作為input state
    # print(state)

    for t in range(1, trading_period + 1):
        if t % 1000 == 0:
            logging.info(f'\n-------------------Period: {t}/{trading_period}-------------------')

        reward = 0
        next_state = generate_combined_state(t, window_size, stock_prices, stock_margin, agent.balance, len(agent.inventory))
        display(pd.DataFrame(next_state))
        previous_portfolio_value = len(agent.inventory) * stock_prices[t] + agent.balance
        # print(t,'\ninventory',agent.inventory,'\ninventory len',len(agent.inventory),'\nstock prices',stock_prices[t], \
        #     '\ninventory*stockprices + balance = ',len(agent.inventory)*stock_prices[t],'+', agent.balance,\
        #     '\nprevious portfolio value',previous_portfolio_value,'\n')
        
        if model_name == 'DDPG':
            actions = agent.act(state, t)
            action = np.argmax(actions)
        else:
            actions = agent.model.predict(state)[0]
            action = agent.act(state)
            
        # print('actions\n',actions)
        # print('action\n',action)
        # execute position
        logging.info('Step: {}\tHold signal: {:.4} \tBuy signal: {:.4} \tSell signal: {:.4}'.format(t, actions[0], actions[1], actions[2]))
        if action != np.argmax(actions): logging.info(f"\t\t'{action_dict[action]}' is an exploration.")
        if action == 0: # hold
            execution_result = hold(actions)
        if action == 1: # buy
            execution_result = buy(t)      
        if action == 2: # sell
            execution_result = sell(t)        
        
        # check execution result
        if execution_result is None:
            reward -= treasury_bond_daily_return_rate() * agent.balance  # missing opportunity
        else:
            if isinstance(execution_result, tuple): # if execution_result is 'Hold'
                actions = execution_result[1]
                execution_result = execution_result[0]
            logging.info(execution_result)    
                        
        # print('---',execution_result,'\n')
        # calculate reward
        current_portfolio_value = len(agent.inventory) * stock_prices[t] + agent.balance
        unrealized_profit = current_portfolio_value - agent.initial_portfolio_value
        reward += unrealized_profit

        agent.portfolio_values.append(current_portfolio_value)
        agent.return_rates.append((current_portfolio_value - previous_portfolio_value) / previous_portfolio_value)

        done = True if t == trading_period else False
        agent.remember(state, actions, reward, next_state, done)

        # update state
        state = next_state

        # experience replay
        if len(agent.memory) > agent.buffer_size:
            num_experience_replay += 1
            loss = agent.experience_replay()
            logging.info('Episode: {}\tLoss: {:.2f}\tAction: {}\tReward: {:.2f}\tBalance: {:.2f}\tNumber of Stocks: {}'.format(e, loss, action_dict[action], reward, agent.balance, len(agent.inventory)))
            agent.tensorboard.on_batch_end(num_experience_replay, {'loss': loss, 'portfolio value': current_portfolio_value})

        if done:
            portfolio_return = evaluate_portfolio_performance(agent, logging)
            returns_across_episodes.append(portfolio_return)

  0%|          | 0/1 [00:00<?, ?it/s]

 -10 0

period
 MarginPurchaseBuy                   828.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  487.000
MarginPurchaseTodayBalance         9262.000
MarginPurchaseYesterdayBalance     8921.000
OffsetLoanAndShort                  141.000
ShortSaleBuy                        260.000
ShortSaleSell                       313.000
ShortSaleTodayBalance              1457.000
ShortSaleYesterdayBalance          1404.000
b_total                          115863.000
s_total                          123668.000
b_s_ratio                             1.067
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-02, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.500,0.500,0.500,0.500,0.500,0.500,0.500,0.500,0.500,0.500,4.095,10.820,-13.816

 -9 1

period
 MarginPurchaseBuy                   696.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  553.000
MarginPurchaseTodayBalance         9405.000
MarginPurchaseYesterdayBalance     9262.000
OffsetLoanAndShort                  297.000
ShortSaleBuy                        482.000
ShortSaleSell                       312.000
ShortSaleTodayBalance              1287.000
ShortSaleYesterdayBalance          1457.000
b_total                          116595.000
s_total                          124713.000
b_s_ratio                             1.070
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-03, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.500,0.500,0.500,0.500,0.500,0.500,0.500,0.500,0.500,0.246,4.076,10.820,-13.816

 -8 2

period
 MarginPurchaseBuy                   916.000
MarginPurchaseCashRepayment          50.000
MarginPurchaseSell                  260.000
MarginPurchaseTodayBalance        10011.000
MarginPurchaseYesterdayBalance     9405.000
OffsetLoanAndShort                  585.000
ShortSaleBuy                        175.000
ShortSaleSell                       282.000
ShortSaleTodayBalance              1394.000
ShortSaleYesterdayBalance          1287.000
b_total                          116864.000
s_total                          125481.000
b_s_ratio                             1.074
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-04, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.500,0.500,0.500,0.500,0.500,0.500,0.500,0.500,0.246,0.530,4.078,10.819,0.000

 -7 3

period
 MarginPurchaseBuy                  2469.000
MarginPurchaseCashRepayment           1.000
MarginPurchaseSell                  665.000
MarginPurchaseTodayBalance        11814.000
MarginPurchaseYesterdayBalance    10011.000
OffsetLoanAndShort                  581.000
ShortSaleBuy                        366.000
ShortSaleSell                       506.000
ShortSaleTodayBalance              1534.000
ShortSaleYesterdayBalance          1394.000
b_total                          116936.000
s_total                          127216.000
b_s_ratio                             1.088
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-07, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.500,0.500,0.500,0.500,0.500,0.500,0.500,0.246,0.530,0.068,4.032,10.817,0.693

 -6 4

period
 MarginPurchaseBuy                   458.000
MarginPurchaseCashRepayment           1.000
MarginPurchaseSell                  661.000
MarginPurchaseTodayBalance        11610.000
MarginPurchaseYesterdayBalance    11814.000
OffsetLoanAndShort                  254.000
ShortSaleBuy                        137.000
ShortSaleSell                       226.000
ShortSaleTodayBalance              1622.000
ShortSaleYesterdayBalance          1534.000
b_total                          117140.000
s_total                          127128.000
b_s_ratio                             1.085
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-08, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.500,0.500,0.500,0.500,0.500,0.500,0.246,0.530,0.068,0.643,4.043,10.816,1.099

 -5 5

period
 MarginPurchaseBuy                   860.000
MarginPurchaseCashRepayment           4.000
MarginPurchaseSell                 1055.000
MarginPurchaseTodayBalance        11411.000
MarginPurchaseYesterdayBalance    11610.000
OffsetLoanAndShort                  690.000
ShortSaleBuy                        353.000
ShortSaleSell                       432.000
ShortSaleTodayBalance              1701.000
ShortSaleYesterdayBalance          1622.000
b_total                          117589.000
s_total                          127299.000
b_s_ratio                             1.083
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-09, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.500,0.500,0.500,0.500,0.500,0.246,0.530,0.068,0.643,0.772,4.064,10.817,0.693

 -4 6

period
 MarginPurchaseBuy                   693.000
MarginPurchaseCashRepayment           5.000
MarginPurchaseSell                  672.000
MarginPurchaseTodayBalance        11427.000
MarginPurchaseYesterdayBalance    11411.000
OffsetLoanAndShort                  158.000
ShortSaleBuy                        387.000
ShortSaleSell                        68.000
ShortSaleTodayBalance              1382.000
ShortSaleYesterdayBalance          1701.000
b_total                          118823.000
s_total                          128868.000
b_s_ratio                             1.085
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-10, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.500,0.500,0.500,0.500,0.246,0.530,0.068,0.643,0.772,0.366,4.054,10.816,1.099

 -3 7

period
 MarginPurchaseBuy                   513.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  591.000
MarginPurchaseTodayBalance        11349.000
MarginPurchaseYesterdayBalance    11427.000
OffsetLoanAndShort                  171.000
ShortSaleBuy                        135.000
ShortSaleSell                       131.000
ShortSaleTodayBalance              1378.000
ShortSaleYesterdayBalance          1382.000
b_total                          120026.000
s_total                          129997.000
b_s_ratio                             1.083
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-11, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.500,0.500,0.500,0.246,0.530,0.068,0.643,0.772,0.366,0.455,4.051,10.817,0.693

 -2 8

period
 MarginPurchaseBuy                   979.000
MarginPurchaseCashRepayment         145.000
MarginPurchaseSell                 1558.000
MarginPurchaseTodayBalance        10625.000
MarginPurchaseYesterdayBalance    11349.000
OffsetLoanAndShort                  325.000
ShortSaleBuy                         71.000
ShortSaleSell                       419.000
ShortSaleTodayBalance              1726.000
ShortSaleYesterdayBalance          1378.000
b_total                          121125.000
s_total                          130024.000
b_s_ratio                             1.073
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-14, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.500,0.500,0.246,0.530,0.068,0.643,0.772,0.366,0.455,0.729,4.068,10.819,0.000

 -1 9

period
 MarginPurchaseBuy                   759.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                 1556.000
MarginPurchaseTodayBalance         9828.000
MarginPurchaseYesterdayBalance    10625.000
OffsetLoanAndShort                  444.000
ShortSaleBuy                        582.000
ShortSaleSell                       613.000
ShortSaleTodayBalance              1757.000
ShortSaleYesterdayBalance          1726.000
b_total                          122672.000
s_total                          130743.000
b_s_ratio                             1.066
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-15, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.500,0.246,0.530,0.068,0.643,0.772,0.366,0.455,0.729,0.859,4.099,10.819,0.000

 0 10

period
 MarginPurchaseBuy                  2097.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  829.000
MarginPurchaseTodayBalance        11096.000
MarginPurchaseYesterdayBalance     9828.000
OffsetLoanAndShort                  249.000
ShortSaleBuy                        770.000
ShortSaleSell                       137.000
ShortSaleTodayBalance              1124.000
ShortSaleYesterdayBalance          1757.000
b_total                          122529.000
s_total                          132501.000
b_s_ratio                             1.081
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-16, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.246,0.530,0.068,0.643,0.772,0.366,0.455,0.729,0.859,0.123,4.066,10.820,-13.816

 1 11

period
 MarginPurchaseBuy                  1221.000
MarginPurchaseCashRepayment          30.000
MarginPurchaseSell                  640.000
MarginPurchaseTodayBalance        11647.000
MarginPurchaseYesterdayBalance    11096.000
OffsetLoanAndShort                  389.000
ShortSaleBuy                        271.000
ShortSaleSell                        79.000
ShortSaleTodayBalance               927.000
ShortSaleYesterdayBalance          1124.000
b_total                          122853.000
s_total                          133573.000
b_s_ratio                             1.087
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-17, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.530,0.068,0.643,0.772,0.366,0.455,0.729,0.859,0.123,0.399,4.059,10.819,0.000

 2 12

period
 MarginPurchaseBuy                  1470.000
MarginPurchaseCashRepayment           1.000
MarginPurchaseSell                  543.000
MarginPurchaseTodayBalance        12573.000
MarginPurchaseYesterdayBalance    11647.000
OffsetLoanAndShort                  814.000
ShortSaleBuy                        323.000
ShortSaleSell                       212.000
ShortSaleTodayBalance               816.000
ShortSaleYesterdayBalance           927.000
b_total                          123177.000
s_total                          134934.000
b_s_ratio                             1.095
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-18, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.068,0.643,0.772,0.366,0.455,0.729,0.859,0.123,0.399,0.608,4.066,10.820,-13.816

 3 13

period
 MarginPurchaseBuy                  1068.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  350.000
MarginPurchaseTodayBalance        13291.000
MarginPurchaseYesterdayBalance    12573.000
OffsetLoanAndShort                  242.000
ShortSaleBuy                         46.000
ShortSaleSell                        82.000
ShortSaleTodayBalance               852.000
ShortSaleYesterdayBalance           816.000
b_total                          122459.000
s_total                          134898.000
b_s_ratio                             1.102
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-21, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.643,0.772,0.366,0.455,0.729,0.859,0.123,0.399,0.608,0.338,4.055,10.820,-13.816

 4 14

period
 MarginPurchaseBuy                  1958.000
MarginPurchaseCashRepayment          50.000
MarginPurchaseSell                 1206.000
MarginPurchaseTodayBalance        13993.000
MarginPurchaseYesterdayBalance    13291.000
OffsetLoanAndShort                  592.000
ShortSaleBuy                        139.000
ShortSaleSell                       521.000
ShortSaleTodayBalance              1234.000
ShortSaleYesterdayBalance           852.000
b_total                          121882.000
s_total                          134641.000
b_s_ratio                             1.105
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-22, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.772,0.366,0.455,0.729,0.859,0.123,0.399,0.608,0.338,0.023,3.988,10.820,-13.816

 5 15

period
 MarginPurchaseBuy                  1055.000
MarginPurchaseCashRepayment          43.000
MarginPurchaseSell                 1164.000
MarginPurchaseTodayBalance        13841.000
MarginPurchaseYesterdayBalance    13993.000
OffsetLoanAndShort                  750.000
ShortSaleBuy                        239.000
ShortSaleSell                       738.000
ShortSaleTodayBalance              1733.000
ShortSaleYesterdayBalance          1234.000
b_total                          122034.000
s_total                          134142.000
b_s_ratio                             1.099
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-23, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.366,0.455,0.729,0.859,0.123,0.399,0.608,0.338,0.023,0.385,3.979,10.819,0.000

 6 16

period
 MarginPurchaseBuy                   990.000
MarginPurchaseCashRepayment          40.000
MarginPurchaseSell                 1174.000
MarginPurchaseTodayBalance        13617.000
MarginPurchaseYesterdayBalance    13841.000
OffsetLoanAndShort                  622.000
ShortSaleBuy                        485.000
ShortSaleSell                       278.000
ShortSaleTodayBalance              1526.000
ShortSaleYesterdayBalance          1733.000
b_total                          121758.000
s_total                          133849.000
b_s_ratio                             1.099
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-24, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.455,0.729,0.859,0.123,0.399,0.608,0.338,0.023,0.385,0.746,3.999,10.820,-13.816

 7 17

period
 MarginPurchaseBuy                   772.000
MarginPurchaseCashRepayment         118.000
MarginPurchaseSell                  936.000
MarginPurchaseTodayBalance        13335.000
MarginPurchaseYesterdayBalance    13617.000
OffsetLoanAndShort                  205.000
ShortSaleBuy                        346.000
ShortSaleSell                       336.000
ShortSaleTodayBalance              1516.000
ShortSaleYesterdayBalance          1526.000
b_total                          121790.000
s_total                          133609.000
b_s_ratio                             1.097
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-25, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.729,0.859,0.123,0.399,0.608,0.338,0.023,0.385,0.746,0.836,4.028,10.820,-13.816

 8 18

period
 MarginPurchaseBuy                   672.000
MarginPurchaseCashRepayment         207.000
MarginPurchaseSell                  454.000
MarginPurchaseTodayBalance        13346.000
MarginPurchaseYesterdayBalance    13335.000
OffsetLoanAndShort                  114.000
ShortSaleBuy                        165.000
ShortSaleSell                       151.000
ShortSaleTodayBalance              1502.000
ShortSaleYesterdayBalance          1516.000
b_total                          122154.000
s_total                          133998.000
b_s_ratio                             1.097
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-28, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.859,0.123,0.399,0.608,0.338,0.023,0.385,0.746,0.836,0.132,3.994,10.820,-13.816

 9 19

period
 MarginPurchaseBuy                   500.000
MarginPurchaseCashRepayment           8.000
MarginPurchaseSell                  288.000
MarginPurchaseTodayBalance        13550.000
MarginPurchaseYesterdayBalance    13346.000
OffsetLoanAndShort                  213.000
ShortSaleBuy                        173.000
ShortSaleSell                       112.000
ShortSaleTodayBalance              1441.000
ShortSaleYesterdayBalance          1502.000
b_total                          122450.000
s_total                          134559.000
b_s_ratio                             1.099
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-29, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.123,0.399,0.608,0.338,0.023,0.385,0.746,0.836,0.132,0.717,4.011,10.819,0.000

 10 20

period
 MarginPurchaseBuy                   491.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  757.000
MarginPurchaseTodayBalance        13284.000
MarginPurchaseYesterdayBalance    13550.000
OffsetLoanAndShort                  170.000
ShortSaleBuy                         49.000
ShortSaleSell                       186.000
ShortSaleTodayBalance              1578.000
ShortSaleYesterdayBalance          1441.000
b_total                          122841.000
s_total                          134547.000
b_s_ratio                             1.095
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-30, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.399,0.608,0.338,0.023,0.385,0.746,0.836,0.132,0.717,0.440,4.007,10.820,-13.816

 11 21

period
 MarginPurchaseBuy                   329.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  717.000
MarginPurchaseTodayBalance        12896.000
MarginPurchaseYesterdayBalance    13284.000
OffsetLoanAndShort                  225.000
ShortSaleBuy                        119.000
ShortSaleSell                       195.000
ShortSaleTodayBalance              1654.000
ShortSaleYesterdayBalance          1578.000
b_total                          123729.000
s_total                          134971.000
b_s_ratio                             1.091
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-01-31, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.608,0.338,0.023,0.385,0.746,0.836,0.132,0.717,0.440,0.532,4.009,10.820,-13.816

 12 22

period
 MarginPurchaseBuy                   352.000
MarginPurchaseCashRepayment          48.000
MarginPurchaseSell                 1030.000
MarginPurchaseTodayBalance        12170.000
MarginPurchaseYesterdayBalance    12896.000
OffsetLoanAndShort                  282.000
ShortSaleBuy                        139.000
ShortSaleSell                       208.000
ShortSaleTodayBalance              1623.000
ShortSaleYesterdayBalance          1654.000
b_total                          124705.000
s_total                          135252.000
b_s_ratio                             1.085
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-02-01, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.338,0.023,0.385,0.746,0.836,0.132,0.717,0.440,0.532,0.717,4.026,10.820,-13.816

 13 23

period
 MarginPurchaseBuy                   724.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  332.000
MarginPurchaseTodayBalance        12497.000
MarginPurchaseYesterdayBalance    12105.000
OffsetLoanAndShort                  171.000
ShortSaleBuy                        174.000
ShortSaleSell                       126.000
ShortSaleTodayBalance              1575.000
ShortSaleYesterdayBalance          1623.000
b_total                          124503.000
s_total                          135425.000
b_s_ratio                             1.088
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-02-12, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.023,0.385,0.746,0.836,0.132,0.717,0.440,0.532,0.717,0.254,4.006,10.820,-13.816

 14 24

period
 MarginPurchaseBuy                   570.000
MarginPurchaseCashRepayment           3.000
MarginPurchaseSell                  353.000
MarginPurchaseTodayBalance        12711.000
MarginPurchaseYesterdayBalance    12497.000
OffsetLoanAndShort                  130.000
ShortSaleBuy                         83.000
ShortSaleSell                        84.000
ShortSaleTodayBalance              1576.000
ShortSaleYesterdayBalance          1575.000
b_total                          124164.000
s_total                          135299.000
b_s_ratio                             1.090
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-02-13, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.385,0.746,0.836,0.132,0.717,0.440,0.532,0.717,0.254,0.547,4.010,10.820,-13.816

 15 25

period
 MarginPurchaseBuy                   648.000
MarginPurchaseCashRepayment          38.000
MarginPurchaseSell                 1395.000
MarginPurchaseTodayBalance        11926.000
MarginPurchaseYesterdayBalance    12711.000
OffsetLoanAndShort                  257.000
ShortSaleBuy                        123.000
ShortSaleSell                       294.000
ShortSaleTodayBalance              1739.000
ShortSaleYesterdayBalance          1576.000
b_total                          124449.000
s_total                          134636.000
b_s_ratio                             1.082
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-02-14, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.746,0.836,0.132,0.717,0.440,0.532,0.717,0.254,0.547,0.916,4.052,10.820,-13.816

 16 26

period
 MarginPurchaseBuy                   433.000
MarginPurchaseCashRepayment           2.000
MarginPurchaseSell                  393.000
MarginPurchaseTodayBalance        11964.000
MarginPurchaseYesterdayBalance    11926.000
OffsetLoanAndShort                  246.000
ShortSaleBuy                        235.000
ShortSaleSell                        96.000
ShortSaleTodayBalance              1600.000
ShortSaleYesterdayBalance          1739.000
b_total                          124411.000
s_total                          134775.000
b_s_ratio                             1.083
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-02-15, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.836,0.132,0.717,0.440,0.532,0.717,0.254,0.547,0.916,0.483,4.051,10.820,-13.816

 17 27

period
 MarginPurchaseBuy                   317.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  495.000
MarginPurchaseTodayBalance        11786.000
MarginPurchaseYesterdayBalance    11964.000
OffsetLoanAndShort                  289.000
ShortSaleBuy                         67.000
ShortSaleSell                       165.000
ShortSaleTodayBalance              1698.000
ShortSaleYesterdayBalance          1600.000
b_total                          124464.000
s_total                          134552.000
b_s_ratio                             1.081
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-02-18, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.132,0.717,0.440,0.532,0.717,0.254,0.547,0.916,0.483,0.433,4.046,10.820,-13.816

 18 28

period
 MarginPurchaseBuy                   525.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  453.000
MarginPurchaseTodayBalance        11858.000
MarginPurchaseYesterdayBalance    11786.000
OffsetLoanAndShort                  239.000
ShortSaleBuy                         41.000
ShortSaleSell                       217.000
ShortSaleTodayBalance              1874.000
ShortSaleYesterdayBalance          1698.000
b_total                          124267.000
s_total                          134251.000
b_s_ratio                             1.080
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-02-19, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.717,0.440,0.532,0.717,0.254,0.547,0.916,0.483,0.433,0.705,4.061,10.819,0.000

 19 29

period
 MarginPurchaseBuy                   362.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  636.000
MarginPurchaseTodayBalance        11584.000
MarginPurchaseYesterdayBalance    11858.000
OffsetLoanAndShort                  164.000
ShortSaleBuy                        124.000
ShortSaleSell                       253.000
ShortSaleTodayBalance              2003.000
ShortSaleYesterdayBalance          1874.000
b_total                          124291.000
s_total                          133872.000
b_s_ratio                             1.077
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-02-20, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.440,0.532,0.717,0.254,0.547,0.916,0.483,0.433,0.705,0.291,4.046,10.820,-13.816

 20 30

period
 MarginPurchaseBuy                   316.000
MarginPurchaseCashRepayment          55.000
MarginPurchaseSell                  966.000
MarginPurchaseTodayBalance        10879.000
MarginPurchaseYesterdayBalance    11584.000
OffsetLoanAndShort                  212.000
ShortSaleBuy                        147.000
ShortSaleSell                       488.000
ShortSaleTodayBalance              2344.000
ShortSaleYesterdayBalance          2003.000
b_total                          124996.000
s_total                          133531.000
b_s_ratio                             1.068
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-02-21, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.532,0.717,0.254,0.547,0.916,0.483,0.433,0.705,0.291,0.799,4.070,10.819,0.000

 21 31

period
 MarginPurchaseBuy                   189.000
MarginPurchaseCashRepayment           1.000
MarginPurchaseSell                  362.000
MarginPurchaseTodayBalance        10705.000
MarginPurchaseYesterdayBalance    10879.000
OffsetLoanAndShort                  211.000
ShortSaleBuy                        175.000
ShortSaleSell                       367.000
ShortSaleTodayBalance              2536.000
ShortSaleYesterdayBalance          2344.000
b_total                          125170.000
s_total                          133339.000
b_s_ratio                             1.065
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-02-22, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.717,0.254,0.547,0.916,0.483,0.433,0.705,0.291,0.799,0.552,4.073,10.817,0.693

 22 32

period
 MarginPurchaseBuy                   692.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                 1474.000
MarginPurchaseTodayBalance         9923.000
MarginPurchaseYesterdayBalance    10705.000
OffsetLoanAndShort                  121.000
ShortSaleBuy                        314.000
ShortSaleSell                       455.000
ShortSaleTodayBalance              2677.000
ShortSaleYesterdayBalance          2536.000
b_total                          125577.000
s_total                          132823.000
b_s_ratio                             1.058
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-02-25, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.254,0.547,0.916,0.483,0.433,0.705,0.291,0.799,0.552,0.784,4.095,10.817,0.693

 23 33

period
 MarginPurchaseBuy                   165.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                 1628.000
MarginPurchaseTodayBalance         8460.000
MarginPurchaseYesterdayBalance     9923.000
OffsetLoanAndShort                  213.000
ShortSaleBuy                        181.000
ShortSaleSell                       330.000
ShortSaleTodayBalance              2826.000
ShortSaleYesterdayBalance          2677.000
b_total                          122665.000
s_total                          128299.000
b_s_ratio                             1.046
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-02-26, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.547,0.916,0.483,0.433,0.705,0.291,0.799,0.552,0.784,0.591,4.101,10.819,0.000

 24 34

period
 MarginPurchaseBuy                   289.000
MarginPurchaseCashRepayment          28.000
MarginPurchaseSell                  470.000
MarginPurchaseTodayBalance         8251.000
MarginPurchaseYesterdayBalance     8460.000
OffsetLoanAndShort                   70.000
ShortSaleBuy                        160.000
ShortSaleSell                       339.000
ShortSaleTodayBalance              3005.000
ShortSaleYesterdayBalance          2826.000
b_total                          118374.000
s_total                          123620.000
b_s_ratio                             1.044
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-02-27, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.916,0.483,0.433,0.705,0.291,0.799,0.552,0.784,0.591,0.719,4.117,10.820,-13.816

 25 35

period
 MarginPurchaseBuy                   127.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  639.000
MarginPurchaseTodayBalance         7739.000
MarginPurchaseYesterdayBalance     8251.000
OffsetLoanAndShort                  135.000
ShortSaleBuy                        235.000
ShortSaleSell                       245.000
ShortSaleTodayBalance              3014.000
ShortSaleYesterdayBalance          3005.000
b_total                          118761.000
s_total                          123486.000
b_s_ratio                             1.040
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-02-29, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.483,0.433,0.705,0.291,0.799,0.552,0.784,0.591,0.719,0.291,4.102,10.819,0.000

 26 36

period
 MarginPurchaseBuy                   878.000
MarginPurchaseCashRepayment          12.000
MarginPurchaseSell                  337.000
MarginPurchaseTodayBalance         8268.000
MarginPurchaseYesterdayBalance     7739.000
OffsetLoanAndShort                  227.000
ShortSaleBuy                        822.000
ShortSaleSell                       163.000
ShortSaleTodayBalance              2355.000
ShortSaleYesterdayBalance          3014.000
b_total                          119357.000
s_total                          125270.000
b_s_ratio                             1.050
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-03, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.433,0.705,0.291,0.799,0.552,0.784,0.591,0.719,0.291,0.218,4.081,10.820,-13.816

 27 37

period
 MarginPurchaseBuy                   167.000
MarginPurchaseCashRepayment           1.000
MarginPurchaseSell                  949.000
MarginPurchaseTodayBalance         7485.000
MarginPurchaseYesterdayBalance     8268.000
OffsetLoanAndShort                  275.000
ShortSaleBuy                        174.000
ShortSaleSell                       589.000
ShortSaleTodayBalance              2770.000
ShortSaleYesterdayBalance          2355.000
b_total                          120140.000
s_total                          124855.000
b_s_ratio                             1.039
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-04, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.705,0.291,0.799,0.552,0.784,0.591,0.719,0.291,0.218,0.819,4.106,10.820,-13.816

 28 38

period
 MarginPurchaseBuy                   187.000
MarginPurchaseCashRepayment          23.000
MarginPurchaseSell                  609.000
MarginPurchaseTodayBalance         7040.000
MarginPurchaseYesterdayBalance     7485.000
OffsetLoanAndShort                  165.000
ShortSaleBuy                        103.000
ShortSaleSell                       386.000
ShortSaleTodayBalance              3053.000
ShortSaleYesterdayBalance          2770.000
b_total                          120710.000
s_total                          124697.000
b_s_ratio                             1.033
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-05, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.291,0.799,0.552,0.784,0.591,0.719,0.291,0.218,0.819,0.515,4.107,10.820,-13.816

 29 39

period
 MarginPurchaseBuy                   411.000
MarginPurchaseCashRepayment           2.000
MarginPurchaseSell                  835.000
MarginPurchaseTodayBalance         6614.000
MarginPurchaseYesterdayBalance     7040.000
OffsetLoanAndShort                  259.000
ShortSaleBuy                        232.000
ShortSaleSell                       282.000
ShortSaleTodayBalance              3103.000
ShortSaleYesterdayBalance          3053.000
b_total                          121136.000
s_total                          124647.000
b_s_ratio                             1.029
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-06, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.799,0.552,0.784,0.591,0.719,0.291,0.218,0.819,0.515,0.836,4.133,10.819,0.000

 30 40

period
 MarginPurchaseBuy                   679.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  289.000
MarginPurchaseTodayBalance         7004.000
MarginPurchaseYesterdayBalance     6614.000
OffsetLoanAndShort                   93.000
ShortSaleBuy                        300.000
ShortSaleSell                       186.000
ShortSaleTodayBalance              2988.000
ShortSaleYesterdayBalance          3103.000
b_total                          121496.000
s_total                          125512.000
b_s_ratio                             1.033
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-07, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.552,0.784,0.591,0.719,0.291,0.218,0.819,0.515,0.836,0.277,4.118,10.820,-13.816

 31 41

period
 MarginPurchaseBuy                  1036.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  550.000
MarginPurchaseTodayBalance         7490.000
MarginPurchaseYesterdayBalance     7004.000
OffsetLoanAndShort                  114.000
ShortSaleBuy                        565.000
ShortSaleSell                       231.000
ShortSaleTodayBalance              2654.000
ShortSaleYesterdayBalance          2988.000
b_total                          123260.000
s_total                          128096.000
b_s_ratio                             1.039
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-10, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.784,0.591,0.719,0.291,0.218,0.819,0.515,0.836,0.277,0.129,4.086,10.820,-13.816

 32 42

period
 MarginPurchaseBuy                  1011.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  203.000
MarginPurchaseTodayBalance         8298.000
MarginPurchaseYesterdayBalance     7490.000
OffsetLoanAndShort                  227.000
ShortSaleBuy                        377.000
ShortSaleSell                       102.000
ShortSaleTodayBalance              2379.000
ShortSaleYesterdayBalance          2654.000
b_total                          124202.000
s_total                          130121.000
b_s_ratio                             1.048
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-11, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.591,0.719,0.291,0.218,0.819,0.515,0.836,0.277,0.129,0.634,4.096,10.820,-13.816

 33 43

period
 MarginPurchaseBuy                  1149.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  983.000
MarginPurchaseTodayBalance         8464.000
MarginPurchaseYesterdayBalance     8298.000
OffsetLoanAndShort                  179.000
ShortSaleBuy                        145.000
ShortSaleSell                       151.000
ShortSaleTodayBalance              2385.000
ShortSaleYesterdayBalance          2379.000
b_total                          125536.000
s_total                          131615.000
b_s_ratio                             1.048
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-12, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.719,0.291,0.218,0.819,0.515,0.836,0.277,0.129,0.634,0.618,4.103,10.819,0.000

 34 44

period
 MarginPurchaseBuy                   786.000
MarginPurchaseCashRepayment           1.000
MarginPurchaseSell                  240.000
MarginPurchaseTodayBalance         9009.000
MarginPurchaseYesterdayBalance     8464.000
OffsetLoanAndShort                  160.000
ShortSaleBuy                        217.000
ShortSaleSell                        89.000
ShortSaleTodayBalance              2257.000
ShortSaleYesterdayBalance          2385.000
b_total                          126866.000
s_total                          133618.000
b_s_ratio                             1.053
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-13, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.291,0.218,0.819,0.515,0.836,0.277,0.129,0.634,0.618,0.175,4.078,10.820,-13.816

 35 45

period
 MarginPurchaseBuy                  1232.000
MarginPurchaseCashRepayment          16.000
MarginPurchaseSell                  276.000
MarginPurchaseTodayBalance         9949.000
MarginPurchaseYesterdayBalance     9009.000
OffsetLoanAndShort                  400.000
ShortSaleBuy                        209.000
ShortSaleSell                       292.000
ShortSaleTodayBalance              2340.000
ShortSaleYesterdayBalance          2257.000
b_total                          126676.000
s_total                          134285.000
b_s_ratio                             1.060
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-14, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.218,0.819,0.515,0.836,0.277,0.129,0.634,0.618,0.175,0.392,4.070,10.820,-13.816

 36 46

period
 MarginPurchaseBuy                  1257.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                  615.000
MarginPurchaseTodayBalance        10591.000
MarginPurchaseYesterdayBalance     9949.000
OffsetLoanAndShort                  462.000
ShortSaleBuy                        470.000
ShortSaleSell                       466.000
ShortSaleTodayBalance              2336.000
ShortSaleYesterdayBalance          2340.000
b_total                          130909.000
s_total                          139164.000
b_s_ratio                             1.063
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-17, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.819,0.515,0.836,0.277,0.129,0.634,0.618,0.175,0.392,0.223,4.048,10.820,-13.816

 37 47

period
 MarginPurchaseBuy                   854.000
MarginPurchaseCashRepayment           1.000
MarginPurchaseSell                  344.000
MarginPurchaseTodayBalance        11100.000
MarginPurchaseYesterdayBalance    10591.000
OffsetLoanAndShort                  351.000
ShortSaleBuy                        357.000
ShortSaleSell                       145.000
ShortSaleTodayBalance              2124.000
ShortSaleYesterdayBalance          2336.000
b_total                          134775.000
s_total                          143751.000
b_s_ratio                             1.067
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-18, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.515,0.836,0.277,0.129,0.634,0.618,0.175,0.392,0.223,0.567,4.053,10.820,-13.816

 38 48

period
 MarginPurchaseBuy                  1109.000
MarginPurchaseCashRepayment          41.000
MarginPurchaseSell                 1782.000
MarginPurchaseTodayBalance        10386.000
MarginPurchaseYesterdayBalance    11100.000
OffsetLoanAndShort                  216.000
ShortSaleBuy                        190.000
ShortSaleSell                       209.000
ShortSaleTodayBalance              2143.000
ShortSaleYesterdayBalance          2124.000
b_total                          137489.000
s_total                          145732.000
b_s_ratio                             1.060
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-19, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.836,0.277,0.129,0.634,0.618,0.175,0.392,0.223,0.567,0.760,4.073,10.820,-13.816

 39 49

period
 MarginPurchaseBuy                   572.000
MarginPurchaseCashRepayment           3.000
MarginPurchaseSell                 1538.000
MarginPurchaseTodayBalance         9417.000
MarginPurchaseYesterdayBalance    10386.000
OffsetLoanAndShort                  565.000
ShortSaleBuy                        191.000
ShortSaleSell                       242.000
ShortSaleTodayBalance              2194.000
ShortSaleYesterdayBalance          2143.000
b_total                          144708.000
s_total                          151931.000
b_s_ratio                             1.050
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-20, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.277,0.129,0.634,0.618,0.175,0.392,0.223,0.567,0.760,0.743,4.091,10.820,-13.816

 40 50

period
 MarginPurchaseBuy                  2352.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                 1540.000
MarginPurchaseTodayBalance        10229.000
MarginPurchaseYesterdayBalance     9417.000
OffsetLoanAndShort                  349.000
ShortSaleBuy                        217.000
ShortSaleSell                       329.000
ShortSaleTodayBalance              2305.000
ShortSaleYesterdayBalance          2194.000
b_total                          144896.000
s_total                          152820.000
b_s_ratio                             1.055
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-21, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.129,0.634,0.618,0.175,0.392,0.223,0.567,0.760,0.743,0.838,4.118,10.820,-13.816

 41 51

period
 MarginPurchaseBuy                  5715.000
MarginPurchaseCashRepayment           1.000
MarginPurchaseSell                 2436.000
MarginPurchaseTodayBalance        13507.000
MarginPurchaseYesterdayBalance    10229.000
OffsetLoanAndShort                 1331.000
ShortSaleBuy                        333.000
ShortSaleSell                       677.000
ShortSaleTodayBalance              2649.000
ShortSaleYesterdayBalance          2305.000
b_total                          143368.000
s_total                          154226.000
b_s_ratio                             1.076
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-24, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.634,0.618,0.175,0.392,0.223,0.567,0.760,0.743,0.838,0.921,4.157,10.820,-13.816

 42 52

period
 MarginPurchaseBuy                  2563.000
MarginPurchaseCashRepayment           0.000
MarginPurchaseSell                 1178.000
MarginPurchaseTodayBalance        14892.000
MarginPurchaseYesterdayBalance    13507.000
OffsetLoanAndShort                  554.000
ShortSaleBuy                        316.000
ShortSaleSell                       269.000
ShortSaleTodayBalance              2601.000
ShortSaleYesterdayBalance          2649.000
b_total                          142983.000
s_total                          155274.000
b_s_ratio                             1.086
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-25, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.618,0.175,0.392,0.223,0.567,0.760,0.743,0.838,0.921,0.371,4.149,10.819,0.000

 43 53

period
 MarginPurchaseBuy                  1646.000
MarginPurchaseCashRepayment           3.000
MarginPurchaseSell                 1147.000
MarginPurchaseTodayBalance        15388.000
MarginPurchaseYesterdayBalance    14892.000
OffsetLoanAndShort                  437.000
ShortSaleBuy                        297.000
ShortSaleSell                       296.000
ShortSaleTodayBalance              2598.000
ShortSaleYesterdayBalance          2601.000
b_total                          142612.000
s_total                          155402.000
b_s_ratio                             1.090
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-26, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.175,0.392,0.223,0.567,0.760,0.743,0.838,0.921,0.371,0.416,4.143,10.819,0.000

 44 54

period
 MarginPurchaseBuy                  2867.000
MarginPurchaseCashRepayment           6.000
MarginPurchaseSell                  697.000
MarginPurchaseTodayBalance        17552.000
MarginPurchaseYesterdayBalance    15388.000
OffsetLoanAndShort                  608.000
ShortSaleBuy                        644.000
ShortSaleSell                       589.000
ShortSaleTodayBalance              2543.000
ShortSaleYesterdayBalance          2598.000
b_total                          140698.000
s_total                          155707.000
b_s_ratio                             1.107
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-27, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.392,0.223,0.567,0.760,0.743,0.838,0.921,0.371,0.416,0.167,4.117,10.819,0.000

 45 55

period
 MarginPurchaseBuy                  1265.000
MarginPurchaseCashRepayment           3.000
MarginPurchaseSell                 1095.000
MarginPurchaseTodayBalance        17719.000
MarginPurchaseYesterdayBalance    17552.000
OffsetLoanAndShort                  772.000
ShortSaleBuy                        582.000
ShortSaleSell                       351.000
ShortSaleTodayBalance              2312.000
ShortSaleYesterdayBalance          2543.000
b_total                          141781.000
s_total                          157188.000
b_s_ratio                             1.109
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-28, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.223,0.567,0.760,0.743,0.838,0.921,0.371,0.416,0.167,0.458,4.115,10.817,0.693

 46 56

period
 MarginPurchaseBuy                  1698.000
MarginPurchaseCashRepayment          16.000
MarginPurchaseSell                  612.000
MarginPurchaseTodayBalance        18789.000
MarginPurchaseYesterdayBalance    17719.000
OffsetLoanAndShort                  628.000
ShortSaleBuy                        565.000
ShortSaleSell                       204.000
ShortSaleTodayBalance              1951.000
ShortSaleYesterdayBalance          2312.000
b_total                          143461.000
s_total                          160299.000
b_s_ratio                             1.117
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-03-31, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.567,0.760,0.743,0.838,0.921,0.371,0.416,0.167,0.458,0.399,4.108,10.816,1.099

 47 57

period
 MarginPurchaseBuy                  1182.000
MarginPurchaseCashRepayment          26.000
MarginPurchaseSell                 1341.000
MarginPurchaseTodayBalance        18604.000
MarginPurchaseYesterdayBalance    18789.000
OffsetLoanAndShort                  510.000
ShortSaleBuy                        144.000
ShortSaleSell                       401.000
ShortSaleTodayBalance              2208.000
ShortSaleYesterdayBalance          1951.000
b_total                          144271.000
s_total                          160667.000
b_s_ratio                             1.114
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-04-01, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.760,0.743,0.838,0.921,0.371,0.416,0.167,0.458,0.399,0.277,4.092,10.817,0.693

 48 58

period
 MarginPurchaseBuy                  1945.000
MarginPurchaseCashRepayment           6.000
MarginPurchaseSell                 1985.000
MarginPurchaseTodayBalance        18558.000
MarginPurchaseYesterdayBalance    18604.000
OffsetLoanAndShort                  686.000
ShortSaleBuy                        302.000
ShortSaleSell                       405.000
ShortSaleTodayBalance              2306.000
ShortSaleYesterdayBalance          2208.000
b_total                          147192.000
s_total                          163444.000
b_s_ratio                             1.110
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-04-02, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.743,0.838,0.921,0.371,0.416,0.167,0.458,0.399,0.277,0.835,4.119,10.817,0.693

 49 59

period
 MarginPurchaseBuy                   558.000
MarginPurchaseCashRepayment          32.000
MarginPurchaseSell                  610.000
MarginPurchaseTodayBalance        18474.000
MarginPurchaseYesterdayBalance    18558.000
OffsetLoanAndShort                  291.000
ShortSaleBuy                         93.000
ShortSaleSell                       263.000
ShortSaleTodayBalance              2466.000
ShortSaleYesterdayBalance          2306.000
b_total                          147651.000
s_total                          163659.000
b_s_ratio                             1.108
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-04-03, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.838,0.921,0.371,0.416,0.167,0.458,0.399,0.277,0.835,0.483,4.118,10.819,0.000

 50 60

period
 MarginPurchaseBuy                   844.000
MarginPurchaseCashRepayment          25.000
MarginPurchaseSell                 1145.000
MarginPurchaseTodayBalance        18148.000
MarginPurchaseYesterdayBalance    18474.000
OffsetLoanAndShort                  331.000
ShortSaleBuy                        366.000
ShortSaleSell                       708.000
ShortSaleTodayBalance              2808.000
ShortSaleYesterdayBalance          2466.000
b_total                          148477.000
s_total                          163817.000
b_s_ratio                             1.103
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-04-07, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.921,0.371,0.416,0.167,0.458,0.399,0.277,0.835,0.483,0.690,4.131,10.819,0.000

 51 61

period
 MarginPurchaseBuy                   992.000
MarginPurchaseCashRepayment           5.000
MarginPurchaseSell                  651.000
MarginPurchaseTodayBalance        18484.000
MarginPurchaseYesterdayBalance    18148.000
OffsetLoanAndShort                  186.000
ShortSaleBuy                         62.000
ShortSaleSell                       235.000
ShortSaleTodayBalance              2981.000
ShortSaleYesterdayBalance          2808.000
b_total                          147016.000
s_total                          162519.000
b_s_ratio                             1.105
buy_volume                              NaN
sell_volume                             NaN
bs_ratio                                NaN
Name: 2008-04-08, dtype: float64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.371,0.416,0.167,0.458,0.399,0.277,0.835,0.483,0.690,0.399,4.124,10.817,0.693

  0%|          | 0/1 [00:14<?, ?it/s]

KeyboardInterrupt:

In [19]:

state = generate_combined_state(0, window_size, stock_prices, stock_margin, agent.balance, len(agent.inventory)) 
state

period
 [[1.65600000e+03 0.00000000e+00 9.74000000e+02 1.85240000e+04
  1.78420000e+04 2.82000000e+02 5.20000000e+02 6.26000000e+02
  2.91400000e+03 2.80800000e+03 2.31726000e+05 2.47336000e+05
  2.13470966e+00            nan            nan            nan]
 [1.65600000e+03 0.00000000e+00 9.74000000e+02 1.85240000e+04
  1.78420000e+04 2.82000000e+02 5.20000000e+02 6.26000000e+02
  2.91400000e+03 2.80800000e+03 2.31726000e+05 2.47336000e+05
  2.13470966e+00            nan            nan            nan]
 [1.65600000e+03 0.00000000e+00 9.74000000e+02 1.85240000e+04
  1.78420000e+04 2.82000000e+02 5.20000000e+02 6.26000000e+02
  2.91400000e+03 2.80800000e+03 2.31726000e+05 2.47336000e+05
  2.13470966e+00            nan            nan            nan]
 [1.65600000e+03 0.00000000e+00 9.74000000e+02 1.85240000e+04
  1.78420000e+04 2.82000000e+02 5.20000000e+02 6.26000000e+02
  2.91400000e+03 2.80800000e+03 2.31726000e+05 2.47336000e+05
  2.13470966e+00            nan            nan            nan]
 [1.65600000e+03 0.00000000e+00 9.74000000e+02 1.85240000e+04
  1.78420000e+04 2.82000000e+02 5.20000000e+02 6.26000000e+02
  2.91400000e+03 2.80800000e+03 2.31726000e+05 2.47336000e+05
  2.13470966e+00            nan            nan            nan]
 [1.65600000e+03 0.00000000e+00 9.74000000e+02 1.85240000e+04
  1.78420000e+04 2.82000000e+02 5.20000000e+02 6.26000000e+02
  2.91400000e+03 2.80800000e+03 2.31726000e+05 2.47336000e+05
  2.13470966e+00            nan            nan            nan]
 [1.65600000e+03 0.00000000e+00 9.74000000e+02 1.85240000e+04
  1.78420000e+04 2.82000000e+02 5.20000000e+02 6.26000000e+02
  2.91400000e+03 2.80800000e+03 2.31726000e+05 2.47336000e+05
  2.13470966e+00            nan            nan            nan]
 [1.65600000e+03 0.00000000e+00 9.74000000e+02 1.85240000e+04
  1.78420000e+04 2.82000000e+02 5.20000000e+02 6.26000000e+02
  2.91400000e+03 2.80800000e+03 2.31726000e+05 2.47336000e+05
  2.13470966e+00            nan            nan            nan]
 [1.65600000e+03 0.00000000e+00 9.74000000e+02 1.85240000e+04
  1.78420000e+04 2.82000000e+02 5.20000000e+02 6.26000000e+02
  2.91400000e+03 2.80800000e+03 2.31726000e+05 2.47336000e+05
  2.13470966e+00            nan            nan            nan]
 [1.65600000e+03 0.00000000e+00 9.74000000e+02 1.85240000e+04
  1.78420000e+04 2.82000000e+02 5.20000000e+02 6.26000000e+02
  2.91400000e+03 2.80800000e+03 2.31726000e+05 2.47336000e+05
  2.13470966e+00            nan            nan            nan]]
(10, 15) [[0.00000000e+000 1.00000000e+000 1.00000000e+000 6.47386058e-297
  0.00000000e+000 1.00000000e+000 1.00000000e+000 1.00000000e+000
  9.22114642e-047 1.00000000e+000 1.00000000e+000 0.00000000e+000
              nan             nan             nan]
 [0.00000000e+000 1.00000000e+000 1.00000000e+000 6.47386058e-297
  0.00000000e+000 1.00000000e+000 1.00000000e+000 1.00000000e+000
  9.22114642e-047 1.00000000e+000 1.00000000e+000 0.00000000e+000
              nan             nan             nan]
 [0.00000000e+000 1.00000000e+000 1.00000000e+000 6.47386058e-297
  0.00000000e+000 1.00000000e+000 1.00000000e+000 1.00000000e+000
  9.22114642e-047 1.00000000e+000 1.00000000e+000 0.00000000e+000
              nan             nan             nan]
 [0.00000000e+000 1.00000000e+000 1.00000000e+000 6.47386058e-297
  0.00000000e+000 1.00000000e+000 1.00000000e+000 1.00000000e+000
  9.22114642e-047 1.00000000e+000 1.00000000e+000 0.00000000e+000
              nan             nan             nan]
 [0.00000000e+000 1.00000000e+000 1.00000000e+000 6.47386058e-297
  0.00000000e+000 1.00000000e+000 1.00000000e+000 1.00000000e+000
  9.22114642e-047 1.00000000e+000 1.00000000e+000 0.00000000e+000
              nan             nan             nan]
 [0.00000000e+000 1.00000000e+000 1.00000000e+000 6.47386058e-297
  0.00000000e+000 1.00000000e+000 1.00000000e+000 1.00000000e+000
  9.22114642e-047 1.00000000e+000 1.00000000e+000 0.00000000e+000
              nan             nan             nan]
 [0.00000000e+000 1.00000000e+000 1.00000000e+000 6.47386058e-297
  0.00000000e+000 1.00000000e+000 1.00000000e+000 1.00000000e+000
  9.22114642e-047 1.00000000e+000 1.00000000e+000 0.00000000e+000
              nan             nan             nan]
 [0.00000000e+000 1.00000000e+000 1.00000000e+000 6.47386058e-297
  0.00000000e+000 1.00000000e+000 1.00000000e+000 1.00000000e+000
  9.22114642e-047 1.00000000e+000 1.00000000e+000 0.00000000e+000
              nan             nan             nan]
 [0.00000000e+000 1.00000000e+000 1.00000000e+000 6.47386058e-297
  0.00000000e+000 1.00000000e+000 1.00000000e+000 1.00000000e+000
  9.22114642e-047 1.00000000e+000 1.00000000e+000 0.00000000e+000
              nan             nan             nan]
 [0.00000000e+000 1.00000000e+000 1.00000000e+000 6.47386058e-297
  0.00000000e+000 1.00000000e+000 1.00000000e+000 1.00000000e+000
  9.22114642e-047 1.00000000e+000 1.00000000e+000 0.00000000e+000
              nan             nan             nan]]

f:\GoogleDrive\NCCU\Paper\DeepRL_Trading\utils.py:26: RuntimeWarning: overflow encountered in exp
  return 1 / (1 + np.exp(-x))

array([[  0.5       ,   0.5       ,   0.5       ,   0.5       ,
          0.5       ,   0.5       ,   0.5       ,   0.5       ,
          0.5       ,   0.5       ,   4.09451119,  10.81977828,
        -13.81551056]])